<form>
    <div class="form-group">
        <label for="inputName" class="form-label">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Enter your name" required />
    </div>
    <div class="form-group">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email" required />
    </div>
    <div class="form-group">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" required />
    </div>
    <div class="form-group">
        <label for="inputConfirmPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm your password" required />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>