<div class="content">
    <h1 class="text-center">Dashboard</h1>
    <div class="container">
        @Html.Partial("_DashboardCards")
        @Html.Partial("_TableExample")
        @Html.Partial("_FormExample")
    </div>
</div>